span{
    color: salmon;
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 60px;
}
#plan{
    margin-left: 82px;
}
p{
    font-family: 'Eczar', serif;
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
    margin-right: 5px;
}
.width{
    width: 70%;
    padding-left: 6%;
}
.half-width{
    width: 80%;
    padding-left: 7%;
    display: flex;
}
.width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(12, 118, 153);
    padding: 15px 45px;
    color: seashell;
    font-weight: 700;
    border-radius: 15px;
    
}
h3{
    font-size: 40px;
    font-family: 'Alata', sans-serif;
    text-align: justify;
}
.misson{
    width: 20%;
    margin-right: 20px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 80px;
    text-align: center;
    background-color: lightblue;
    padding-left: 40px;
    border-radius: 30px;

}
.misson img{
    width: 60%;
}
